.about-us-content h3 {
  font-size: 36px;
  display: block;
  margin-bottom: 5px; }
  @media only screen and (max-width: 767px) {
    .about-us-content h3 {
      font-size: 24px; } }
.about-us-content .line {
  height: 3px;
  width: 70px;
  background-color: #fc6060;
  margin-bottom: 30px; }

.about-video-area {
  position: relative;
  z-index: 1;
  border-radius: 10px; }
  .about-video-area img {
    -webkit-box-shadow: 3px 0 24px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 0 24px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 10px; }
  .about-video-area .video-icon a {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #fc6060;
    text-align: center;
    line-height: 56px;
    font-size: 38px;
    border-radius: 50%; }
    .about-video-area .video-icon a::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background-color: transparent;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border: 2px solid #fc6060;
      -webkit-animation: video-icon 1200ms linear infinite;
      animation: video-icon 1200ms linear infinite;
      z-index: -10; }
    .about-video-area .video-icon a:hover, .about-video-area .video-icon a:focus {
      background-color: #000000; }
      .about-video-area .video-icon a:hover::after, .about-video-area .video-icon a:focus::after {
        border: 2px solid #000000; }

@-webkit-keyframes video-icon {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }
@keyframes video-icon {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }
.why-choose-us-content {
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  background-color: #ffffff;
  padding: 80px 30px 50px;
  border-radius: 10px;
  box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  margin-top: 50px; }
  .why-choose-us-content .chosse-us-icon {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    height: 76px;
    width: 76px;
    background-color: #fc6060;
    display: inline-block;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: -38px;
    left: 50%;
    margin-left: -38px; }
  .why-choose-us-content h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms; }
  .why-choose-us-content p {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    font-size: 14px;
    margin-bottom: 0; }
  .why-choose-us-content:hover, .why-choose-us-content:focus {
    background-color: #fc6060; }
    .why-choose-us-content:hover .chosse-us-icon, .why-choose-us-content:focus .chosse-us-icon {
      background-color: #000000;
      box-shadow: 0 5px 15px 2px rgba(255, 255, 255, 0.15); }
    .why-choose-us-content:hover h4,
    .why-choose-us-content:hover p, .why-choose-us-content:focus h4,
    .why-choose-us-content:focus p {
      color: #ffffff; }

/* :: 12.0 Breadcrumb CSS */
.breadcrumb-area {
  position: relative;
  z-index: 1;
  height: 370px; }
  @media only screen and (max-width: 767px) {
    .breadcrumb-area {
      height: 240px; } }
  .breadcrumb-area .page-title {
    color: #ffffff;
    font-size: 36px; }
    @media only screen and (max-width: 767px) {
      .breadcrumb-area .page-title {
        font-size: 24px; } }

.breadcrumb-content {
  position: relative;
  z-index: 1;
  margin-top: 70px; }
  .breadcrumb-content .breadcrumb {
    padding: 0;
    background-color: transparent;
    margin-bottom: 0; }
    .breadcrumb-content .breadcrumb .breadcrumb-item {
      color: #fc6060;
      font-weight: 400;
      font-size: 16px; }
      .breadcrumb-content .breadcrumb .breadcrumb-item a {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400; }
        .breadcrumb-content .breadcrumb .breadcrumb-item a:hover, .breadcrumb-content .breadcrumb .breadcrumb-item a:focus {
          color: #fc6060; }
    .breadcrumb-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: '\f105';
      color: #ffffff;
      font-family: "FontAwesome"; }

.breadcrumb-area.blog {
  height: 550px; }
  .breadcrumb-area.blog .breadcrumb-content .post-catagory {
    padding: 2px 15px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fc6060;
    font-weight: 500;
    margin-bottom: 15px; }
    .breadcrumb-area.blog .breadcrumb-content .post-catagory:hover, .breadcrumb-area.blog .breadcrumb-content .post-catagory:focus {
      font-weight: 500;
      background-color: #000000; }
  .breadcrumb-area.blog .breadcrumb-content .page-title {
    display: block;
    font-size: 48px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .breadcrumb-area.blog .breadcrumb-content .page-title {
        font-size: 30px; } }
  .breadcrumb-area.blog .breadcrumb-content .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 5px; }
    .breadcrumb-area.blog .breadcrumb-content .post-meta a {
      position: relative;
      z-index: 1;
      font-size: 16px;
      color: #ffffff;
      font-weight: 500;
      margin-right: 21px; }
      @media only screen and (max-width: 767px) {
        .breadcrumb-area.blog .breadcrumb-content .post-meta a {
          font-size: 13px; } }
      .breadcrumb-area.blog .breadcrumb-content .post-meta a::after {
        content: '|';
        position: absolute;
        top: 0;
        right: -11px;
        z-index: 1; }
      .breadcrumb-area.blog .breadcrumb-content .post-meta a:last-child::after {
        display: none; }
      .breadcrumb-area.blog .breadcrumb-content .post-meta a:hover, .breadcrumb-area.blog .breadcrumb-content .post-meta a:focus {
        color: #fc6060; }
        .breadcrumb-area.blog .breadcrumb-content .post-meta a:hover::after, .breadcrumb-area.blog .breadcrumb-content .post-meta a:focus::after {
          color: #ffffff; }

/* :: 13.0 Blog CSS */
.blog-details-text {
  position: relative;
  z-index: 1; }
  .blog-details-text .row {
    margin-right: -5px;
    margin-left: -5px; }
    .blog-details-text .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }
  .blog-details-text p {
    font-size: 18px;
    margin-bottom: 20px; }

.alime-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px;
  border-left: 3px solid #fc6060;
  padding-left: 30px; }
  .alime-blockquote h4 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #161715;
    line-height: 1.5;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .alime-blockquote h4 {
        font-size: 18px; } }
  .alime-blockquote h6 {
    font-size: 18px;
    color: #fc6060;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .alime-blockquote h6 {
        font-size: 14px; } }

.post-author-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .post-author-area {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 767px) {
    .post-author-area .popular-tags {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px; } }
  .post-author-area .popular-tags li {
    display: inline-block;
    /* float: left; */
    margin: 3px; }
  @media only screen and (max-width: 767px) {
    .post-author-area .post-social-info {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; } }
  .post-author-area .post-social-info p {
    margin-bottom: 0;
    margin-right: 20px;
    color: #252525; }
  .post-author-area .post-social-info a {
    display: inline-block;
    color: #625b66;
    margin-right: 20px;
    font-size: 14px; }
    .post-author-area .post-social-info a:last-child {
      margin-right: 0; }
    .post-author-area .post-social-info a:hover, .post-author-area .post-social-info a:focus {
      color: #fc6060; }

.alime-pager-area {
  position: relative;
  z-index: 1; }
  .alime-pager-area .previous,
  .alime-pager-area .next {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 290px; }
    @media only screen and (max-width: 767px) {
      .alime-pager-area .previous,
      .alime-pager-area .next {
        height: 180px; } }
    .alime-pager-area .previous::after,
    .alime-pager-area .next::after {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      content: '';
      opacity: 0;
      visibility: hidden; }
    .alime-pager-area .previous .overlay-content,
    .alime-pager-area .next .overlay-content {
      position: absolute;
      width: 70%;
      height: 100%;
      top: 0;
      left: 15%;
      text-align: center;
      z-index: 100; }
      .alime-pager-area .previous .overlay-content .post-title,
      .alime-pager-area .next .overlay-content .post-title {
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 0; }
        @media only screen and (max-width: 767px) {
          .alime-pager-area .previous .overlay-content .post-title,
          .alime-pager-area .next .overlay-content .post-title {
            font-size: 14px; } }
        .alime-pager-area .previous .overlay-content .post-title:hover, .alime-pager-area .previous .overlay-content .post-title:focus,
        .alime-pager-area .next .overlay-content .post-title:hover,
        .alime-pager-area .next .overlay-content .post-title:focus {
          color: #fc6060; }
      .alime-pager-area .previous .overlay-content .previous-link,
      .alime-pager-area .previous .overlay-content .next-link,
      .alime-pager-area .next .overlay-content .previous-link,
      .alime-pager-area .next .overlay-content .next-link {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: -10%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        color: #ffffff;
        z-index: 100;
        opacity: 0; }
        .alime-pager-area .previous .overlay-content .previous-link:hover, .alime-pager-area .previous .overlay-content .previous-link:focus,
        .alime-pager-area .previous .overlay-content .next-link:hover,
        .alime-pager-area .previous .overlay-content .next-link:focus,
        .alime-pager-area .next .overlay-content .previous-link:hover,
        .alime-pager-area .next .overlay-content .previous-link:focus,
        .alime-pager-area .next .overlay-content .next-link:hover,
        .alime-pager-area .next .overlay-content .next-link:focus {
          color: #fc6060; }
    .alime-pager-area .previous:hover::after, .alime-pager-area .previous:focus::after,
    .alime-pager-area .next:hover::after,
    .alime-pager-area .next:focus::after {
      opacity: 1;
      visibility: visible; }
    .alime-pager-area .previous:hover .previous-link,
    .alime-pager-area .previous:hover .next-link, .alime-pager-area .previous:focus .previous-link,
    .alime-pager-area .previous:focus .next-link,
    .alime-pager-area .next:hover .previous-link,
    .alime-pager-area .next:hover .next-link,
    .alime-pager-area .next:focus .previous-link,
    .alime-pager-area .next:focus .next-link {
      opacity: 1; }
  .alime-pager-area .next .overlay-content .next-link {
    left: auto;
    right: -10%; }

.pagination {
  position: relative;
  z-index: 1; }
  .pagination .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .pagination .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .pagination .page-link {
    padding: 12px 15px;
    color: #252525;
    border: none;
    background-color: #f7f7f7;
    margin-right: 5px;
    border-radius: 3px; }
    .pagination .page-link:hover, .pagination .page-link:focus {
      background-color: #fc6060;
      color: #ffffff;
      border-color: #fc6060; }
    .pagination .page-link:focus {
      box-shadow: none; }

.comment_area {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }
  .comment_area .single_comment_area {
    position: relative;
    z-index: 1; }
    .comment_area .single_comment_area::after {
      position: absolute;
      width: 1px;
      background-color: #ebebeb;
      height: 100%;
      content: '';
      top: 0;
      left: 90px;
      z-index: 1; }
      @media only screen and (max-width: 767px) {
        .comment_area .single_comment_area::after {
          left: 50px; } }
    .comment_area .single_comment_area .single_comment_area::after {
      display: none; }
  .comment_area .comment-content {
    position: relative;
    z-index: 1;
    margin-bottom: 40px; }
    .comment_area .comment-content .comment-author {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      width: 70px;
      max-width: 70px;
      margin-right: 40px;
      border-radius: 50%; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-author {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 40px;
          flex: 0 0 40px;
          width: 40px;
          max-width: 40px;
          margin-right: 20px; } }
      .comment_area .comment-content .comment-author img {
        border-radius: 50%; }
    .comment_area .comment-content .comment-meta .post-date {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
      font-weight: 300;
      color: #b2b2b2;
      letter-spacing: 1px; }
      .comment_area .comment-content .comment-meta .post-date:hover, .comment_area .comment-content .comment-meta .post-date:focus {
        color: #fc6060; }
    .comment_area .comment-content .comment-meta h5 {
      margin-bottom: 5px;
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta h5 {
          font-size: 16px; } }
    .comment_area .comment-content .comment-meta p {
      color: #636363;
      font-size: 14px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta p {
          font-size: 13px; } }
    .comment_area .comment-content .comment-meta .like,
    .comment_area .comment-content .comment-meta .reply {
      display: inline-block;
      padding: 5px 25px 5px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid #ebebeb;
      text-transform: uppercase;
      border-radius: 2px; }
      .comment_area .comment-content .comment-meta .like:focus, .comment_area .comment-content .comment-meta .like:hover,
      .comment_area .comment-content .comment-meta .reply:focus,
      .comment_area .comment-content .comment-meta .reply:hover {
        border-color: #fc6060;
        background-color: #fc6060;
        color: #ffffff; }
  .comment_area .children {
    margin-left: 120px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children {
        margin-left: 60px; } }
    .comment_area .children .single_comment_area:last-of-type {
      margin-bottom: 0; }
    .comment_area .children .single_comment_area .comment-author {
      margin-right: 20px; }
      @media only screen and (max-width: 767px) {
        .comment_area .children .single_comment_area .comment-author {
          margin-right: 10px; } }

.alime-blog-area {
  position: relative;
  z-index: 1; }
  .alime-blog-area .row {
    margin-right: -5px;
    margin-left: -5px; }
    .alime-blog-area .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }

.single-post-area {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-post-area::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 1; }
  .single-post-area .post-thumbnail {
    display: block;
    overflow: hidden; }
    .single-post-area .post-thumbnail img {
      width: 100%;
      -webkit-transition-duration: 800ms;
      -o-transition-duration: 800ms;
      transition-duration: 800ms; }
  .single-post-area .post-catagory {
    position: absolute;
    padding: 2px 15px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fc6060;
    top: 15px;
    right: 15px;
    z-index: 20;
    font-weight: 500; }
    .single-post-area .post-catagory:hover, .single-post-area .post-catagory:focus {
      font-weight: 500;
      background-color: #000000; }
  .single-post-area .post-content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 100; }
    .single-post-area .post-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 5px; }
      .single-post-area .post-content .post-meta a {
        position: relative;
        z-index: 1;
        font-size: 13px;
        color: #ffffff;
        font-weight: 300;
        margin-right: 21px; }
        .single-post-area .post-content .post-meta a:last-child::after {
          content: '|';
          position: absolute;
          top: 0;
          left: -11px;
          z-index: 1; }
        .single-post-area .post-content .post-meta a:hover, .single-post-area .post-content .post-meta a:focus {
          color: #fc6060; }
          .single-post-area .post-content .post-meta a:hover::after, .single-post-area .post-content .post-meta a:focus::after {
            color: #ffffff; }
    .single-post-area .post-content .post-title {
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-post-area .post-content .post-title {
          font-size: 16px; } }
      .single-post-area .post-content .post-title:hover, .single-post-area .post-content .post-title:focus {
        color: #fc6060; }
  .single-post-area:hover .post-thumbnail img, .single-post-area:focus .post-thumbnail img {
    -webkit-transform: scale(1.4) rotate(10deg);
    -ms-transform: scale(1.4) rotate(10deg);
    transform: scale(1.4) rotate(10deg); }

.related-news-area {
  position: relative;
  z-index: 1; }
  .related-news-area .row {
    margin-right: -5px;
    margin-left: -5px; }
    .related-news-area .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }

/* :: 14.0 Team CSS */
.team-content-area {
  position: relative;
  z-index: 1;
  padding: 40px;
  -webkit-box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #ffffff; }
  .team-content-area .member-thumb {
    margin: 0 auto 40px;
    width: 165px; }
    .team-content-area .member-thumb img {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      border-radius: 50%; }
  .team-content-area h5 {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0; }
  .team-content-area span {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    color: #fc6060;
    font-size: 12px;
    text-transform: uppercase; }
  .team-content-area .member-social-info {
    position: relative;
    z-index: 1;
    margin-top: 30px; }
    .team-content-area .member-social-info a {
      color: #636363;
      font-size: 16px;
      margin: 0 10px;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      .team-content-area .member-social-info a:hover, .team-content-area .member-social-info a:focus {
        color: #fc6060; }
  .team-content-area:hover, .team-content-area:focus {
    background-color: #fc6060; }
    .team-content-area:hover .member-thumb img, .team-content-area:focus .member-thumb img {
      -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
      transform: rotate(25deg); }
    .team-content-area:hover h5,
    .team-content-area:hover span, .team-content-area:focus h5,
    .team-content-area:focus span {
      color: #ffffff; }
    .team-content-area:hover .member-social-info a, .team-content-area:focus .member-social-info a {
      color: #ffffff; }
      .team-content-area:hover .member-social-info a:hover, .team-content-area:hover .member-social-info a:focus, .team-content-area:focus .member-social-info a:hover, .team-content-area:focus .member-social-info a:focus {
        color: #000000; }