<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(../../../assets/Home/IMG_679411\ \(1\).jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Text -->
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInDown" data-delay="900ms">Hello <br>I'm Sagar</h2><br>
                            <p style="font-family: 'Libre Franklin', sans-serif;">I Photograph Very Instinctively. I See How It Is Taken Like That. I Do Not Follow Certain Styles, Philosophies Or Teachers.</p>
                            <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">
                                <button type="button" class="btn btn-outline-danger" routerLink="/contactus">Get In Touch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Welcome Area End -->

  <div class="section-header1">
    <h3>RECENT WORKS</h3>
    <p>Wedding A Wonderful Story</p>
</div>

<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-80-0 mb-70">
  <div style="margin-top: 20px;" class="container">
      <div class="row">

          <!-- Single Blog Area -->
          <div class="col-12 col-lg-6">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/1.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Photography</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2021</a>
                          <a href="#">30 Comments</a>
                      </div>
                      <a href="#" class="post-title">An Intimate Lonavala Wedding With The Bride In Red!</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/2.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Camera</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2021</a>
                          <a href="#">10 Comment</a>
                      </div>
                      <a href="#" class="post-title">Viah Hath Ceremony</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/3.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Tips</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2021</a>
                          <a href="#">48 Comment</a>
                      </div>
                      <a href="#" class="post-title">Gorgeous Red Lehenga</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/6.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Camera</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2019</a>
                          <a href="#">3 Comment</a>
                      </div>
                      <a href="#" class="post-title">Photo awards of the year</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/5.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Tips</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2019</a>
                          <a href="#">3 Comment</a>
                      </div>
                      <a href="#" class="post-title">The Female Body Shape Men Find</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-lg-6">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/4.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Photography</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2021</a>
                          <a href="#">56 Comment</a>
                      </div>
                      <a href="#" class="post-title">Stunning Goa Wedding With Sunset Pheras !</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-lg-3">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/8.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Tips</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2021</a>
                          <a href="#">96 Comment</a>
                      </div>
                      <a href="#" class="post-title">The Outdoor Wedding</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-lg-6">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/7.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Camera</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2019</a>
                          <a href="#">3 Comment</a>
                      </div>
                      <a href="#" class="post-title">Glam Udaipur Wedding With An Offbeat Bridal Lehenga</a>
                  </div>
              </div>
          </div>

          <!-- Single Blog Area -->
          <div class="col-12 col-lg-3">
              <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                  <!-- Post Thumbnail -->
                  <a href="#" class="post-thumbnail"><img src="../../../assets/Blog/9.jpg" alt=""></a>
                  <!-- Post Catagory -->
                  <a href="#" class="btn post-catagory">Photography</a>
                  <!-- Post Conetent -->
                  <div class="post-content">
                      <div class="post-meta">
                          <a href="#">May 19, 2021</a>
                          <a href="#">36 Comment</a>
                      </div>
                      <a href="#" class="post-title">Lavish Engagement</a>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- Blog Area End -->

<section id="clients" class="section-bg">
    <div class="container">
        <div class="section-header2">
            <h3>OUR CLIENTS</h3>
            <p>Meet Our happy clients</p>
        </div>
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/Zara.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/biba.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/Color-of-the-Nikon-Logo.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/Sony.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/Trend_magazine_logo.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/Fujifilm-logo.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/myntra.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo"> <img src="../../../assets/Clients/Vogue.png" class="img-fluid" alt=""> </div>
            </div>
        </div>
    </div>
</section>