.fb-ic{
    color: white;
    margin-right: 4%;
}

.tw-ic{
    color: white;
    margin-right: 4%;
}

.gplus-ic{
    color: white;
    margin-right: 4%;
}

.wh-app{
    color: white;
    margin-right: 4%;
}

.ins-ic{
    color: white;
}

.page-footer{
    background-color:#1c2331;
}

.footer-copyright{
    background-color: #161c27;
    color: honeydew;
}
