<!-- Footer -->
<footer class="page-footer">

  <div style="background: linear-gradient(to right, #FF4B2B, #FF416C)!important; margin-top: 2%;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="color: white;">Get Connected With Us On Social Networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
          <!--whatsapp -->
          <a class="wh-app">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 style="color: white;" class="text-uppercase font-weight-bold">Sagars Photography</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color: white;">Capturing Moments From Today.<br>Creating Memories For a Lifetime.<br><br>Candid | Artistic | Joyful.</p>

      </div>
      
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 style="color: white;" class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/signin">Sing In</a>
        </p>
        <p>
          <a href="#!">Home</a>
        </p>
        <p>
          <a href="/about">About Us</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: white;">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color: white;">
          <i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 3%;"></i> India, Kolkata</p>
        <p style="color: white;">
          <i class="fa fa-envelope" aria-hidden="true" style="margin-right: 3%;" ></i> sagar@photo.com</p>
        <p style="color: white;">
          <i class="fa fa-whatsapp" aria-hidden="true" style="margin-right: 3%;"></i> +91 9874314690</p>
        <p style="color: white;">
          <i class="fa fa-phone" aria-hidden="true" style="margin-right: 3%;"></i> +91 7003835629</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright : Sagars Photography
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->